{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Proposition de covoiturage :</h1>
            </div>

            <div class="table-responsive" >
                <table class="table table-hover" id="table_home">
                    <thead>
                    <tr>
                        <th>Personne</th>
                        {#<th>Lieux départ</th>#}
                        <th>Date</th>
                        <th>Durée</th>
                        <th>Lieu Depart</th>
                        <th>Lieu Arrivée</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for emprunt in listeEmprunt %}
                    <tr>
                        <td>{{ emprunt.listePersonne.prenom }} {{ emprunt.listePersonne.nom }}</td>
                        <td>{{ emprunt.dateEmprunt.date|date("d/m/Y h:i", false) }}  </td>
                        <td>{{ emprunt.nbJourLocation }}</td>
                        <td>{{ emprunt.idSiteDepart.libelle }}</td>
                        <td>{{ emprunt.idSiteArrivee.libelle }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>qsdqsd</td>
                        <td>qsdqsd</td>
                        <td>qsdqsd</td>
                        <td>qsdqsd</td>
                        <td>qsdqsd</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}


{% block javascripts %}
<script>
    $("#table_home").DataTable(

    );
</script>


{% endblock %}