html {
    /*background-image: url("../img/background2.bmp");*/
    /*background-attachment:fixed;*/


    background-image: url("../img/background2.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}